.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
    line-height: 1;
    font-size: 20px;
    margin-top: 85px;
    margin-right: 35px;  
}

.nav li{
   padding-left: 54px;
}

.nav h1{
    width: 227px;
    height: 130px;
    margin-top: 20px;
    margin-left: 35px;
    position: absolute;
    left: 0;
}

.nav a:link,
.nav a:visited,
.nav a:hover,
.nav a:active{
    text-decoration: none;
    color: #fff;
}